@import url(./index.css);
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .essaybox {
    box-shadow: inset 0px 0px 7px 0px rgba(3, 3, 3, .5);
    margin-top: -0.625rem;
    position: relative;
    width: 85%;
    height: 90%;
    background: rgb(247, 247, 247);
    overflow: auto;
}

.essaybox .box {
    margin-top: 1.25rem;
    position: relative;
    width: 100%;
    height: 30%;
    background: rgb(83, 83, 83);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box .box1 {
    position: relative;
    font-size: 1.5rem;
    color: var(--d6d);
    font-weight: bold;
    width: 100%;
    height: 20%;
}

.box .box2 {
    overflow: auto !important;
    box-shadow: inset 0px 0px 7px rgba(3, 3, 3, .5);
    display: flex;
    font-size: 1rem;
    text-indent: 3em;
    width: 100%;
    height: 70%;
}